node-red_code.txt
[{"id":"cf15bdca.b02a3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"12a11be8.1aded4","type":"function","z":"cf15bdca.b02a3","name":"","func":"m= msg.payload;\n\n    if( m == '1')\n    {\n    \n    return {topic:'y',payload:\"Yes\"};\n    }\n    else  {\n        \n      return {topic:'n',payload:\"no\"};  \n    }\n\n\n","outputs":2,"noerr":0,"x":330,"y":260,"wires":[["e50fd812.8dea98"],["db5ac12c.08916"]]},{"id":"c3987f17.949f3","type":"debug","z":"cf15bdca.b02a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":390,"y":120,"wires":[]},{"id":"b0b35803.d0afa8","type":"mqtt in","z":"cf15bdca.b02a3","name":"","topic":"floor1/room1/bed1","qos":"2","broker":"ac25ffda.dd07e","x":170,"y":80,"wires":[["c3987f17.949f3","def49fcb.27095"]]},{"id":"def49fcb.27095","type":"mqtt out","z":"cf15bdca.b02a3","name":"","topic":"emergency/help","qos":"0","retain":"","broker":"ac25ffda.dd07e","x":670,"y":60,"wires":[]},{"id":"e50fd812.8dea98","type":"ui_template","z":"cf15bdca.b02a3","tab":"69e9fedb.75acb","name":"output html","group":"447ef50d.a5f42c","order":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n \n<head>\n    <title>Button demo</title>\n    <style>\n        button {\n            border: none;\n            color: white;\n            background-color: #4CAF50;\n            font-size: 30px;\n        }\n        \n        button:hover {\n            border: none;\n            color: white;\n            background-color: #ADFF2F;;\n            font-size: 30px;\n        }\n        \n        button1 {\n            border: none;\n            color: white;\n            background-color: #f44336;\n            font-size: 30px;\n        }\n        \n        button1:hover {\n            border: none;\n            color: white;\n            background-color: #D0AC36;;\n            font-size: 30px;\n        }\n        \n        #form1 {\n            visibility: hidden;\n        }\n        \n        #form2 {\n            visibility: hidden;\n        }\n    </style>\n</head>\n \n<body>\n    <button onclick=\"onClick(this)\" id=\"button1\">Approve </button>\n    <button1 onclick=\"onClick(this)\" id=\"button2\">   Busy Can't attend  </button1>\n    <form action=\"\" id=\"form1\">\n            \n            <br> Others are notified\n            <br>\n            \n    </form>\n    <form action=\"\" id=\"form2\">          \n            <br> Others are notified\n            <br>\n         </form>\n</body>\n<script>\n    function onClick(x) {\n        if (x.id === 'button1') document.getElementById(\"form1\").style.visibility = \"visible\";\n        if (x.id === 'button2') document.getElementById(\"form2\").style.visibility = \"visible\";\n    }\n</script>\n \n</html>","storeOutMessages":true,"fwdInMessages":true,"x":490,"y":240,"wires":[["ec07cdfb.88697","e3a03624.e3ffe8"]]},{"id":"cbd267fa.4a33f8","type":"html","z":"cf15bdca.b02a3","name":"","tag":"tr","ret":"html","as":"single","x":930,"y":280,"wires":[[]]},{"id":"c76b42fb.aa506","type":"debug","z":"cf15bdca.b02a3","name":"","active":true,"tosidebar":true,"complete":false,"x":1090,"y":280,"wires":[]},{"id":"64e3e353.65930c","type":"mqtt in","z":"cf15bdca.b02a3","name":"","topic":"emergency/help","qos":"2","broker":"ac25ffda.dd07e","x":140,"y":240,"wires":[["12a11be8.1aded4"]]},{"id":"9dfb2703.ea8708","type":"mqtt in","z":"cf15bdca.b02a3","name":"","topic":"emergency/help","qos":"2","broker":"ac25ffda.dd07e","x":140,"y":300,"wires":[["12a11be8.1aded4"]]},{"id":"db5ac12c.08916","type":"ui_template","z":"cf15bdca.b02a3","tab":"69e9fedb.75acb","name":"output html","group":"447ef50d.a5f42c","order":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<Title>no emergency</Title>\n     </html>","storeOutMessages":true,"fwdInMessages":true,"x":490,"y":320,"wires":[[]]},{"id":"ec07cdfb.88697","type":"mqtt out","z":"cf15bdca.b02a3","name":"","topic":"emergency/help","qos":"0","retain":"","broker":"ac25ffda.dd07e","x":710,"y":220,"wires":[]},{"id":"e3a03624.e3ffe8","type":"mqtt out","z":"cf15bdca.b02a3","name":"","topic":"emergency/help","qos":"0","retain":"","broker":"ac25ffda.dd07e","x":710,"y":300,"wires":[]},{"id":"9d6c01b.2cda3","type":"ui_button","z":"cf15bdca.b02a3","tab":"69e9fedb.75acb","name":"Accept Button","payload":"","topic":"","group":"Care Assistants","order":1,"x":180,"y":460,"wires":[[]]},{"id":"e455ac95.20b67","type":"ui_text","z":"cf15bdca.b02a3","tab":"69e9fedb.75acb","name":"Text","group":"Care Assisstants","order":1,"format":"Alert from: {{msg.payload}} Pleae Accept/reject","x":460,"y":460,"wires":[]},{"id":"1dcc6d09.0d03d3","type":"inject","z":"cf15bdca.b02a3","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":580,"wires":[["54bd8310.b6004c"]]},{"id":"54bd8310.b6004c","type":"ui_text","z":"cf15bdca.b02a3","tab":"69e9fedb.75acb","name":"","group":"a1779a6c.944418","order":0,"format":"{{msg.payload}}","x":500,"y":580,"wires":[]},{"id":"ac25ffda.dd07e","type":"mqtt-broker","z":"","name":"","broker":"*******","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"2","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"69e9fedb.75acb","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"}]
